#app {
  background-color: #0e1117 !important;
}

[class^="stApp"]>header {
  background-color: #0e1117 !important;
}

[class^="plot-containter"] {
  background-color: #0e1117 !important;
}

[class^="appview-container"] {
  background-color: #0e1117 !important;
}

[class^="element-container"] {
  background-color: #0e1117 !important;
}
