#app {
  background-color: #242424 !important;
}

[class^="stApp"]>header {
  background-color: #242424 !important;
}

[class^="plot-containter"] {
  background-color: #242424 !important;
}

[class^="appview-container"] {
  background-color: #242424 !important;
}

[class^="element-container"] {
  background-color: #242424 !important;
}
